<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
     
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <form method="GET" action="/run">
      <div>
        <span> CLick to Train and Predict:</span>
        <div>
          <button type="submit">Run</button>
        </div>
      </div>
    </form>
  </body>
</html>
